<div class="container">
    <header class="header">
      <div class="logo-container">
        <img src="assets/download.png" alt="Logo" class="logo">
      </div>
      <nav class="nav">
        <a routerLink="/empleados" class="nav-link">Empleados</a>
        <a  routerLink="/oficinas" class="nav-link">Oficinas</a>
        <a routerLink="/form" class="nav-link">Registrar Empleado</a>
      </nav>
    </header>
    <div class="content">
      <!-- Contenido de la página ghome -->
       <!-- Aquí se incluye el selector del componente principal -->
    </div>
  </div>